<nav class="nav">
  <h3><a routerLink="/">Organic Health</a></h3>
  <div class="nav-search" *ngIf="menuType === 'default'">
    <input type="search" />
    <button class="">Search</button>
  </div>
  <div [ngSwitch]="menuType">
    <div>
      <ul *ngSwitchCase="'default'">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="seller-auth">Seller</a></li>
        <li><a href="Login">Login</a></li>
        <li><a href="Cart">Cart</a></li>
      </ul>
    </div>
    <div>
      <ul *ngSwitchCase="'seller'">
        <li><a routerLink="seller-home">Product List</a></li>
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li>
          <a href="Cart">{{ sellerName | titlecase }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
