<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="card-body">

                    <h3 class="signUpHeading">Sign-Up form</h3>
                    <form #checkOutForm="ngForm" (ngSubmit)="orderNow(checkOutForm.value)">
                    
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">Email address</label> -->
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                name="email" ngModel placeholder="Email">
                        </div>

                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">Password</label> -->
                            <input type="text" class="form-control" id="address" placeholder=" address" name="address"
                                ngModel>
                        </div>

                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">Password</label> -->
                            <input type="text" class="form-control" id="contact" placeholder="Mobile Number"
                                name="contact" ngModel>
                        </div>

                        <div class="col-md-12 text-center mt-2">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>Total Amount : <span>{{totalPrice}}</span></h3>
                    <h5>Payment Mode : <span> Pay On Delivery</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>