<div class="container mt-5">

    <div class="row mainRow" *ngIf="this.productData">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <!-- <a routerLink="/details/{{trendyItems.id}}"> -->
            <img class="card-img-top" src="{{productData.image}}" alt="Card image cap">

            <div class="row mt-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <button class="btn btn-primary detailsCartBuyBtn" *ngIf="!this.removeCart" (click)="addToCart()"> Add to Cart</button>
                    <button class="btn btn-primary detailsCartBuyBtn" *ngIf="this.removeCart" (click)="removeToCart(productData.id)"> Remove to Cart</button>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <button class="btn btn-primary detailsCartBuyBtn"> Buy Now</button>
                </div>
            </div>
            <!-- </a> -->
        </div>

        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="secondCol">
                <h3 class="card-title">{{productData.name}}</h3>
                <p class="card-title">{{productData.color}}</p>
                <p class="card-title">{{productData.category}}</p>
                <p class="card-title">{{productData.price}}</p>
                <h3 class="card-title">{{productData.price}}</h3>
                <p class="card-title">{{productData.color}}</p>
            </div>
                <div class="quantity">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
        </div> -->

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="detailHeading mb-2">
                <div class="">
                    <h5 class="card-title text-start">{{productData.name}}</h5>
                </div>
                <div class="secondCol">
                    <a class="text-bold">2,035 Ratings & 260 Reviews</a>
                </div>
                <div class="secondCol">
                    <p class="card-title">Special Price</p>
                </div>
                <div class="">
                    <h3 class="card-title">{{productData.price}}</h3>
                </div>
            </div>

            <div class="detailOffer">
                <div>
                    <h6>Available Offer</h6>
                </div>
                <div>
                    <div class="bankOffer">
                        <span class="bankOfferSpan">Bank Offer </span>
                        <span>10% off on Axis Bank Credit Card and EMI Transactions, up to ₹1500, on orders of ₹5,000
                            and above</span>
                        <span> <a class="text-bold"> T&C</a></span>
                    </div>
                    <div class="bankOffer">
                        <span class="bankOfferSpan">Bank Offer </span>
                        <span>10% off on Axis Bank Credit Card and EMI Transactions, up to ₹1500, on orders of ₹5,000
                            and above</span>
                        <span> <a class="text-bold"> T&C</a></span>
                    </div>
                    <div class="bankOffer">
                        <span class="bankOfferSpan">Bank Offer </span>
                        <span>10% off on Axis Bank Credit Card and EMI Transactions, up to ₹1500, on orders of ₹5,000
                            and above</span>
                        <span> <a class="text-bold"> T&C</a></span>
                    </div>
                    <div class="bankOffer">
                        <span class="bankOfferSpan">Bank Offer </span>
                        <span>10% off on Axis Bank Credit Card and EMI Transactions, up to ₹1500, on orders of ₹5,000
                            and above</span>
                        <span> <a class="text-bold"> T&C</a></span>
                    </div>
                    <div class="bankOffer">
                         <a class="text-bold"> View 15 more offer</a>
                    </div>
                </div>
            </div>

            <div class="row warranty mt-2">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                    <span>Lenovo</span>
                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9">
                    <span>3 Years Manufacturer Warranty <a class="text-bold">Know More</a></span>
                </div>
                
            </div>
       
            <div class="row warranty mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                   <div>
                       <span class="yearHead">Model year</span>
                        <button class="year">22.45 inch</button>
                        <button class="year">22.45 inch</button>
                   </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <span class="sizeHead"> Display Size</span>
                    <button class="size">22.45 inch</button>
                        <button class="size">22.45 inch</button>
                        <button class="size">22.45 inch</button>
                        <button class="size">22.45 inch</button>
                </div>
                
            </div>
            <div class="quantity mt-2">
                    <button (click)="handleQuantity('min')">-</button>
                    <input type="text" value={{productQuantity}}>
                    <button (click)="handleQuantity('max')">+</button>
                </div>
        </div>
    </div>
</div>

<section class="mt-5">
    <div class="container">
      <app-toys-product></app-toys-product>
    </div>
  </section>

  <!-- <section class="deals mt-5">
    <div class="container">
      <app-sunglass-product></app-sunglass-product>
    </div>
  </section> -->
  
  <section>
    <div class="">
      <app-footer></app-footer>
    </div>
  </section>
  


<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div> -->