

.card-img-top{
    height: 320px !important;
  
}

.mainRow .secondCol{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.mainRow .cartBuyButton {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // padding: 15px;
}
.mainRow .quantity {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // padding: 15px;
}

.mainRow .secondCol h3 {
    // margin-left: 25px;
}

.mainRow .secondCol p {
    // margin-left: 25px;
}

.secondCol{
    margin-top: 0.4rem;
}

.bankOfferSpan {
    font-weight: 600;
}

.bankOffer{
    margin-top: 0.4rem;
}

.size {
    
    padding: 5px;
    border: none;
}
.sizeHead{
    font-weight: 600;
}

.year{
    
    padding: 5px;
    border: none;
}

.yearHead{
    font-weight: 600;
}
.detailsCartBuyBtn{
    width: -webkit-fill-available;
    padding: 15px;
}

