<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1> All products</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <table class="table-bordered table">
                <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let items of productList">
                        <td> 
                            <img src="{{items.image}}" alt="" width="80px" height="100px">
                            
                        </td>
                        <td>{{items.name}}</td>
                        <td>{{items.price}}</td>
                        <td>{{items.color}}</td>
                        <td>{{items.category}}</td>
                        <td style="text-align: start;">{{items.description}}</td>
                        <td>
                            <fa-icon  (click)="deleteProduct(items.id)" [icon]="icon"></fa-icon>
                            <fa-icon class="adjust" routerLink="/seller-update-product/{{items.id}}" [icon]="iconEdit"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>