
.mainRow{
    background-color: white;
    border-radius: 25px;
    padding: 15px;
}
.card-img-top{
    height: 200px !important;
    border-radius: 10px;
}

// .mainRow .secondCol h3 {
//     margin-left: 25px;
// }

// .mainRow .secondCol p {
//     margin-left: 25px;
// }