<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-1" *ngFor="let items of searchedProducts">
            <div class="row mainRow">
                <div class="col-3">
                    <a routerLink="/details/{{items.id}}">
                        <img class="card-img-top" src="{{items.image}}" alt="Card image cap">

                    </a>
                </div>

                <div class="col-6 secondCol">
                    <h3 class="card-title">{{items.name}}</h3>

                    <ul>
                        <li>
                            <p class="card-title">{{items.color}}</p>
                        </li>
                        <li>
                            <p class="card-title">{{items.price}}</p>
                        </li>
                        <li>
                            <p class="card-title">{{items.price}}</p>
                        </li>
                    </ul>
                </div>

                <div class="col-3">
                    <h3 class="card-title">{{items.price}}</h3>
                    <p class="card-title">{{items.color}}</p>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div> -->