.signUpHeading , .loginHeading{
    text-align: center;
}

.form-group {
    margin: 20px;
}

input {
    border-radius: 12px;
}

form button{
    color: rebeccapurple;
}

.selllerRow{
    min-height: calc(100vh - 70px);
    // height: 86vh;
    // max-height: 100vh;
}
.card {
    border-radius: 25px;
    // background: #c0edc0;
    // box-shadow: 0px 0px 15px 2px #60a183;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 20px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -100px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    // border: solid;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: #f2f3f7;
}

button{
    color: aliceblue !important;
}

// .backColor{
//     background: #20002c;  /* fallback for old browsers */
//     background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// }

.imageSize{
    width: 290px;
}