<div class="data-container">
  <div class="data-wrapper">
    <table>
      <thead>
        <tr>
          <!-- Add your table headers here -->
          <th>Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
          <!-- Add more headers as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <!-- Add your data here -->
          <td>{{ item.value1 }}</td>
          <td>{{ item.value2 }}</td>
          <td>{{ item.value3 }}</td>
          <!-- Add more data fields as needed -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
