
 
 <div class="mt-3">

   <ngb-carousel *ngIf="popularProducts">
     <ng-template ngbSlide *ngFor="let products of popularProducts">
       <div class="picsum-img-wrapper">
         <a routerLink="/details/{{products.id}}">
           <img class="image-header" [src]="products.image" alt="Random first slide" />
          </a>
        </div>
        <div class="carousel-caption">
          <h3>{{products.name}}</h3>
          <!-- <p>{{products.description}}</p> -->
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

      <div class="container mt-4">
        <div class="row">
          <div class="col-12 popularHeader">
            <h4> Popular Products </h4>
            <a>View all</a>
          </div>
        </div>
        <div class="row"  style="overflow-x:scroll;">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3" *ngFor="let trendyItems of trendyProducts">
              <!-- <div class="card" style="padding: 1rem;"> -->
                <div class="card" routerLink="/details/{{trendyItems.id}}">
                    <img class="card-img-top" src="{{trendyItems.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">{{trendyItems.name}}</h6>
                      <p class="card-text">{{trendyItems.description}}</p>
                      <!-- <div class="card-fotter"> -->
                          <!-- <a href="#" class="btn btn-primary cartAnchor">Add to cart</a> -->
                          <p>{{trendyItems.price| currency:'INR':'symbol' }} </p>
                          <!-- <a routerLink="/details/{{trendyItems.id}}" class="btn btn-primary detailAnchor">View Detail</a> -->
                      <!-- </div> -->
                    </div>
                  </div>
                  <!-- </div> -->
            </div>
        </div>
      </div>

      <!-- <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/dog.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/cat.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/monkey.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/chihuahua.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/rabbit.jpg">
            </div>
        </ng-template>
    </owl-carousel-o>
       -->

      <!-- <h1>CSS-only Carousel</h1>

<p>This carousel is created with HTML and CSS only.</p>

<section class="carousell" aria-label="Gallery">
  <ol class="carousell__viewport" *ngFor="let trendyItems of trendyProducts">
    <li id="carousell__slide1"
        tabindex="0"
        class="carousell__slide" >
        
      <div class="carousell__snapper">
        <a href="#carousell__slide4"
           class="carousell__prev">Go to last slide</a>
        <a href="#carousell__slide2"
           class="carousell__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousell__slide2"
        tabindex="0"
        class="carousell__slide">
      <div class="carousell__snapper"></div>
      
      <a href="#carousell__slide1"
         class="carousell__prev">Go to previous slide</a>
      <a href="#carousell__slide3"
         class="carousell__next">Go to next slide</a>
    </li>
    <li id="carousell__slide3"
        tabindex="0"
        class="carousell__slide">
      <div class="carousell__snapper"></div>
      <a href="#carousell__slide2"
         class="carousell__prev">Go to previous slide</a>
      <a href="#carousell__slide4"
         class="carousell__next">Go to next slide</a>
    </li>
    <li id="carousell__slide4"
        tabindex="0"
        class="carousell__slide">
      <div class="carousell__snapper"></div>
      <a href="#carousell__slide3"
         class="carousell__prev">Go to previous slide</a>
      <a href="#carousell__slide1"
         class="carousell__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousell__navigation">
    <ol class="carousell__navigation-list">
      <li class="carousell__navigation-item">
        <a href="#carousell__slide1"
           class="carousell__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousell__navigation-item">
        <a href="#carousell__slide2"
           class="carousell__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousell__navigation-item">
        <a href="#carousell__slide3"
           class="carousell__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousell__navigation-item">
        <a href="#carousell__slide4"
           class="carousell__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section> -->
 
